! Font config
Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting:    1
Xft.antialias:  1
Xft.dpi:        96
Xft.rgba:       rgb

URxvt*font:         xft:Terminus:pixelsize=8:antialias=false,xft:monospace:pixelsize=8:antialias=true,xft:Tewi
URxvt*boldFont:     xft:Terminus:pixelsize=8:antialias=false,xft:monospace:pixelsize=8:antialias=true,xft:Tewi
*termName:          rxvt-unicode
*scrollBar:         false
*matcher.button:    1
*transparent:       false
*allow_bold:        true
*urgentOnBell:      true
*buffered:          true
*inputMethod:       ibus
*preeditType:       OverTheSpot

URxvt.keysym.M-u:       perl:mark-yank-urls:activate_mark_mode
URxvt.underlineURLs:    true
URxvt.perl-lib:         /home/hatate/.urxvt/
URxvt.perl-ext:         selection,mark-yank-urls
URxvt.perl-ext-common:  default,matcher
URxvt.urlLauncher:      /usr/bin/x-www-browser

*keysym.M-Down:             \033[1;3B
*keysym.M-Up:               \033[1;3A
*keysym.M-Left:             \033[1;3D
*keysym.M-Right:            \033[1;3C
*keysym.Control-Up:         \033[1;5A
*keysym.Control-Down:       \033[1;5B
*keysym.Control-Left:       \033[1;5D
*keysym.Control-Right:      \033[1;5C
*keysym.Control-Page_Up:    \033[1;4A
*keysym.Control-Page_Down:  \033[1;52

*eightBitInput:     False
*metaSendsEscape:   True
*modifier:          alt

*geometry:      80x24
*fading:        0
*tintColor:     #ffffff
*shading:       0
*inheritPixmap: False

! Dark colorscheme
*background:    #101010
*foreground:    #fffafa
*cursorColor:   #d0d0d0

! black
*color0:        #101010
*color8:        #2d2d2d
! red
*color1:        #960050
*color9:        #ff0090
! green
*color2:        #66aa11
*color10:       #80ff00
! yellow
*color3:        #c47f2c
*color11:       #ffba68
! blue
*color4:        #e78584
*color12:       #ffc5a7
! magenta
*color5:        #7e40a5
*color13:       #bb88dd
! cyan
*color6:        #3579a8
*color14:       #66ccff
! white
*color7:        #9999aa
*color15:       #d0d0d0

! Light colorscheme
!*background:    #f8dccf
!*foreground:    #fffafa
!*cursorColor:   #fffafa

! black dark/light
!*color0: #222222
!*color8: #444444

!! red dark/light
!*color1: #B10000
!*color9: #CC0000

!! green dark/light
!*color2: #6CB100
!*color10: #7CCC00

!! yellow dark/light
!*color3: #B15C00
!*color11: #CC6A00

!! blue dark/light
!*color4: #005577
!*color12: #0075A3

!! magenta dark/light
!*color5: #5600B1
!*color13: #6300CC

!! cyan dark/light
!*color6: #007177
!*color14: #009199

!! white dark/light
!*color7: #bbbbbb
!*color15: #eeeeee
